<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="True"
      internalLogLevel="Info"
      internalLogFile="C:\temp\internal-nlog.txt">
  
  <extensions>
    <add assembly="Nlog.Web.AspNetCore"/>
  </extensions>
      
    <targets>
      <target xsi:type="File" name="request-time" fileName="C:\Users\narut\Desktop\kurs APS.NET\logs\request-time.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

      <target xsi:type="File" name="exceptions" fileName="C:\Users\narut\Desktop\kurs APS.NET\logs\nlog-all-exceptions-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        
        <target xsi:type="File" name="allfile" fileName="C:\Users\narut\Desktop\kurs APS.NET\logs\nlog-all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
        <logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
    </rules>
</nlog>